.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* mantém como está */
.image-container {
  background-color: #c4e9ff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mantém como está */
.img {
  background-image: url("../../../assets/hospital.png");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  display: block;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.form-container {
  background-color: #eaf7ff;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-top: 10px;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  margin-top: 10px;
  background-color: white;
  outline: 1px solid #002e62;
}

.esqueceu-senha {
  font-size: 0.8rem;
  color: black;
  width: 50%;
  text-align: right;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #002e62;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}