<div class="side-bar">
  <div class="side-bar__header">
    <span class="logo"></span>
    <h2>Hospital Flow</h2>
  </div>
  <nav class="side-bar__nav">
    <ul class="side-bar__nav-list">
      <li>
        <a href="/internacoes"> <i class="fas fa-hospital"></i> Internações </a>
      </li>
      <li>
        <a href="/pacientes"><i class="fas fa-user"></i> Pacientes </a>
      </li>
      <li>
        <a href="#contact"><i class="fas fa-envelope"></i> Contact </a>
      </li>
    </ul>
  </nav>
</div>
