<div class="internacoes">
  <app-side-bar class="sidebar"></app-side-bar>
  <div class="main">
    <h1>Pacientes</h1>
    <form>
      <div class="form-group">
        <div class="input">
          <label for="nome">Nome</label>
          <input type="text" id="nomeBusca" name="nome" [(ngModel)]="nome" />
        </div>

        <div class="input">
          <label for="dataNascimento">Data de Nascimento</label>
          <input type="text" id="dataNascimento" name="dataNascimento" [(ngModel)]="dataNascimento" />
        </div>

        <div class="input">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" name="cpf" [(ngModel)]="cpf" />
        </div>

        <div class="btn-container">
          <button class="btn-buscar" (click)="getPacientes()" id="buscar-paciente">Buscar</button>
          <button class="btn-adicionar" (click)="abrirModal()" id="adicionar-paciente">
            Adicionar paciente
            <i class="fa-solid fa-circle-plus"></i>
          </button>
        </div>
      </div>
    </form>

    <div class="tabela-container">
      <table class="tabela-hospitalar">
        <thead>
          <tr>
            <th>Nome do Paciente</th>
            <th>Convênio</th>
            <th>Data de Nascimento</th>
            <th>CPF</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody *ngIf="pacientes.length > 0">
          <tr *ngFor="let paciente of pacientes">
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.convenio }}</td>
            <td>{{ paciente.dataNascimento }}</td>
            <td>{{ paciente.cpf }}</td>
            <td><button (click)="abrirModalEdicao(paciente)" id="botao-editar">
              <i class="fa-solid fa-pen-to-square"></i>
            </button></td>
          </tr>
        </tbody>
      </table>
      <div class="error-container" *ngIf="pacientes.length == 0">
        <p class="error-text">Não foi encontrado nenhum registro!</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-overlay" *ngIf="modal">
  <div class="modal">
    <h2>Criar Nova Internação</h2>
    <form (ngSubmit)="postPaciente()">
      <div class="input">
        <label for="pacientes">Nome Completo do Paciente</label>
        <input name="pacientes" id="nomePaciente" [(ngModel)]="nomePaciente" />
      </div>

      <div class="input">
        <label for="dataNascimentoPaciente">Data de Nascimento do Paciente</label>
        <input type="text" id="dataNascimentoPaciente" name="dataNascimentoPaciente" mask="d0/M0/0000"
          placeholder="dd/mm/aaaa" [(ngModel)]="dataNascimentoPaciente" required />
      </div>

      <div class="input">
        <label for="dataFim">CPF do Paciente</label>
        <input type="text" id="cpfCadastro" name="cpf" mask="000.000.000-00" placeholder="000.000.000-00"
          [(ngModel)]="cpfPaciente" />
      </div>

      <div class="input">
        <label for="convenio">Convênio do Paciente</label>
        <input type="text" id="convenio" name="convenio" [(ngModel)]="convenioPaciente" />
      </div>

      <div class="modal-actions">
        <button type="submit" class="btn-salvar" id="salvar">Salvar</button>
        <button type="button" class="btn-cancelar" (click)="fecharModal()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal-overlay" *ngIf="modalEdicao">
  <div class="modal">
    <h2>Editar internação</h2>
    <form (ngSubmit)="postPaciente()">
      <div class="input">
        <label for="pacientes">Nome Completo do Paciente</label>
        <input name="pacientes" id="nomePacienteEdicao" [(ngModel)]="nomePacienteEdicao" disabled/>
      </div>

      <div class="input">
        <label for="dataNascimentoPaciente">Data de Nascimento do Paciente</label>
        <input type="text" id="dataNascimentoPacienteEdicao" name="dataNascimentoPaciente" mask="d0/M0/0000"
          placeholder="dd/mm/aaaa" [(ngModel)]="dataNascimentoPacienteEdicao" required disabled/>
      </div>

      <div class="input">
        <label for="dataFim">CPF do Paciente</label>
        <input type="text" id="cpf" name="cpfEdicao" mask="000.000.000-00" placeholder="000.000.000-00"
          [(ngModel)]="cpfPacienteEdicao" disabled/>
      </div>

      <div class="input">
        <label for="convenio">Convênio do Paciente</label>
        <input type="text" id="convenioEdicao" name="convenio" [(ngModel)]="convenioPacienteEdicao"/>
      </div>

      <div class="modal-actions">
        <button type="submit" class="btn-salvar" (click)="putPaciente()" id="salvar-edicao">Salvar</button>
        <button type="button" class="btn-cancelar" (click)="fecharModalEdicao()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
